body{
  margin: auto;

  height: 100%;
  background-color: #F6F8E1;
}


#taskbar{
  font-family: "Cabin Sketch", cursive;
  font-size: 2vw;
  text-decoration: none;
  height: auto;
  padding: 1%;
  background-color: #303337;
  color: #F4827F;
}

a{
  text-decoration: none;
  color: #F4827F;
}

a:visited{
  color: #F4827F;
}

#title{
  text-align: center;
  height:auto;
  vertical-align: middle;
  color: #F4827F;
}

h1{
  font-family: "Cabin Sketch", cursive;
  font-size: 5vw;
  position: relative;
  margin: 1vw;
}

#background{
  background-color: inherit;
  height: auto;
  text-align: center;
}

.background{
  width: 40%;
}

#gallery{
  float:left;
  width:100%;
}


.image{
  width: 29.2%;
  padding: 2%;
  float: right;
}
