body,h1,h2,h3,h4,h5,h6 {font-family: "Lato", sans-serif;}
body, html {
    height: 100%;
    color: #777;
}

/* Create a Parallax Effect */
.bgimg-1 {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* First image (Logo. Full height) */
.bgimg-1 {
    background-image: url(http://2.bp.blogspot.com/-Lce6Rzw3R9g/VqnRVMN8UJI/AAAAAAAAIFE/awp5Qdi-EdQ/s1600/Post%2B-%2BJanuary%2B2016%2B%252815%2529%2B-%2B1.jpg);
    min-height: 100%;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}
#myNavbar {
  color: black;
}

#aside {
  float: left;
  width: 15vw;
  margin-right: 1vw;
  padding: 1vw;
  background-color: #36486b;
  text-align: center;
  height: auto;
  padding-top: 10px;
  color: white;
}
#section {
  background-color: #667292;
  padding: 10px;
  width: 80vw;
  padding-left: 4vw;
  padding-right: 4vw;
  float: left;
  color: white;
}
#me {
border-radius: 50%;
text-align: center;
}
.w3-wide {letter-spacing: 10px;}
.w3-hover-opacity {cursor: pointer;}

@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
