
  body {
    margin: auto;
    background-image: url(http://2.bp.blogspot.com/-Lce6Rzw3R9g/VqnRVMN8UJI/AAAAAAAAIFE/awp5Qdi-EdQ/s1600/Post%2B-%2BJanuary%2B2016%2B%252815%2529%2B-%2B1.jpg);
    background-position: center;
    background-position: top;
    background-repeat: no-repeat;
  }
  #topbar1 {
    background-color: #8d9db6;
    height: 20px;
  }
  #menubar {
    background-color:#667292;
    height: 45px;
    text-align: right;
    padding-right: 10px;
    font-family: fantasy;
    font-size: 35px;
    color:#3b3a30;
  }
  #menubar > a:link {
    color: #3b3a30;
    text-decoration: none;
  }
  #menubar > a:visited {
    color: #3b3a30;
    text-decoration: none;
  }
  #menubar > a:hover {
    background-color: ;
    font-size: 38px;
    color: #3b3a30;
  }
  #titlebar {
    background-color: #36486b;
    font-size: 70px;
    height: 75px;
  }
  #topbar2 {
    background-image: url(http://www.clipartkid.com/images/123/line-art-clip-art-vector-clip-art-online-royalty-free-public-4dzfN5-clipart.png);
    height: 110px;
    background-repeat: repeat-x;
    background-position: left;
    background-size: 25%;
  }
  #content {
    color: #92a8d1;
    margin-left: 50px;
    font-family: fantasy;
    font-size: 25px;
  }
  #aside {
    float: left;
    width: 190px;
    margin: 0;
    padding: 10px;
    background-color: #b7d7e8;
    text-align: center;
    height: auto;
  }
  #article {
    overflow: visible;
    background-color: #87bdd8;
    padding: 10px;
    width: 190px;
    text-align: center;
  }
  #likes {
    float: left;
    width: 85px;
    text-align: left;
    padding: 10px;
    background-color: #87bdd8;
    font-size: 9pt;
  }
  #section {
    background-color: #daebe8;
    padding: 10px;
    width: 1000px;
    float: left;
  }
  header {
    margin: 0px;
    padding: 10px;
  }
  #me {
  border-radius: 50%;
  text-align: center;
  }
  div.gallery {
    margin: 5px;
    float: left;
    width: 300px;
  } 
  div.desc {
    padding: 15px;
    text-align: center;
  }
